// Styling for the services section
@media (min-width: 300px) {
  .fa-4x {
    font-size: 2em;
  }
  .service-heading {
    color: #47aaab;
    margin: 5px 0;
    text-transform: none;
  }
  .service-description {
    display: none;
  }
}
@media (min-width: 768px) {
  .fa-4x {
    font-size: 4em;
  }
  .service-heading {
    color: #47aaab;
    margin: 15px 0;
    text-transform: none;
  }
  .service-description {
    display: contents;
  }
}  